.calendar .ajax__calendar_container th td
{
    background-color: #e2e2e2;
    border: solid 1px #cccccc;
    background-image: none !important;
}

.calendar .ajax__calendar_container th td
{
    height: auto !important;
    text-transform: none;
    font-size: 8px;
}

.calendar .ajax__calendar_header
{
    background-color: #ffffff;
    margin-bottom: 4px;
}

.calendar .ajax__calendar_title, .calendar .ajax__calendar_next, .calendar .ajax__calendar_prev
{
    color: #004080;
    padding-top: 3px;
}

.calendar .ajax__calendar_body
{
    background-color: #e9e9e9;
    border: solid 1px #cccccc;
}

.calendar .ajax__calendar_dayname
{
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 2px;
    font-size: smaller !important;
}

.calendar .ajax__calendar_day
{
    text-align: center;
}

.calendar .ajax__calendar_hover .ajax__calendar_day, .calendar .ajax__calendar_hover .ajax__calendar_month, .calendar .ajax__calendar_hover .ajax__calendar_year, .calendar .ajax__calendar_active
{
    color: #004080;
    font-weight: bold;
    background-color: #ffffff;
}

.calendar .ajax__calendar_today
{
    font-weight: bold;
}

.calendar .ajax__calendar_other, .calendar .ajax__calendar_hover .ajax__calendar_today, .calendar .ajax__calendar_hover .ajax__calendar_title
{
    color: #bbbbbb;
}

.calendarContainer table
{
    width: 0px !important;
    height: 0px !important;
    text-transform: none !important;
}

.calendarContainer table tr td
{
    padding: 0 !important;
    margin: 0 !important;
    border-width: 0px !important;
}
