﻿/* table level rules */
.grid
{
	font-family: tahoma;
	font-size: 11px;
	border: solid 1px #7f7f7f;
	border-collapse: collapse;
	width: 100%;
	color: #333333;
}

/* header column rules */
.grid th
{
	background: url(../images/icons/sprite.png) repeat-x 0px 0px;
	border-color: #989898 #cbcbcb #989898 #989898;
	border-style: solid solid solid none;
	border-width: 1px 1px 1px medium;
	color: #000;
	padding: 4px 5px 4px 10px;
	vertical-align: bottom;
	text-align: left;
}

.grid th a
{
	color: #333333;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding-right: 10px;
}

/* data cell and data row rules */
.grid td
{
	color: #333333;
	padding: 0px 10px;
	border-bottom: solid 1px #BBD9EE;
}

.grid .altrow
{
	background-color: #EBF4FA;
}

.grid .row
{
	background-color: #fff;
}

.grid .rownum
{
	text-align: center;
	padding-left: 0px;
	font-weight: bold;
	color: #333333;
}
