﻿.pager
{
	height: 30px;
	background: url(../images/icons/pager_bg.gif) repeat-x;
}
.pager .container
{
	padding: 4px;
}
.pager .command
{
	float: left;
	padding-right: 5px;
}
.pager .info
{
	font-size: 12px;
	padding: 4px 0px;
	float: right;
}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.pagination
{
	padding: 2px;
}

.pagination ul
{
	margin: 0;
	padding: 0;
	text-align: left; /*Set to "right" to right align pagination interface*/
	font-size: 16px;
}

.pagination li
{
	list-style-type: none;
	display: inline;
	padding-bottom: 1px;
}

.pagination a, .pagination a:visited
{
	padding: 0 5px;
	border: 1px solid #9aafe5;
	text-decoration: none;
	color: #2e6ab1;
}

.pagination a:hover, .pagination a:active
{
	border: 1px solid #2b66a5;
	color: #000;
	background-color: #FFFF80;
}

.pagination a.currentpage
{
	background-color: #2e6ab1;
	color: #FFF !important;
	border-color: #2b66a5;
	font-weight: bold;
	cursor: default;
}

.pagination a.disablelink, .pagination a.disablelink:hover
{
	background-color: white;
	cursor: default;
	color: #929292;
	border-color: #929292;
	font-weight: normal !important;
}

.pagination a.prevnext
{
	font-weight: bold;
}

.container {
    color: #3C3C3C;
    font: 12px/1.5em Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}