﻿/* Margin and padding reset */
*
{
    margin: 0;
    padding: 0;
}

/* Global declarations */
body
{
    font-family: tahoma;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6
{
    color: #227FAB;
}

.preview
{
    padding-top: 10px;
}

.highslide-heading .highslide-move
{
    padding-left: 8px !important;
}
