#container #regform
{
    clear: both !important;
    float: none !important;
    width: 70% !important;
    margin: 70px auto 0 !important;
}

.Orange
{
    color: Orange !important;
}

.Black
{
    color: Black !important;
}

.imageregdiv
{
    width: 360px !important;
}

.regformheadings
{
    width: 100% !important;
    text-align: center !important;
}

.informationText
{
    font-size: 12px !important;
}

.leftreginfo
{
    padding-top: 4px;
    padding-bottom: 4px;
}

ul
{
    padding-left: 20px;
}

li
{
    list-style-type: circle;
}

label
{
    width: 200px !important;
}

