﻿/* table level rules */
.dlist
{
	font-family: tahoma;
	font-size: 11px;
	border: solid 1px #7f7f7f;
	border-collapse: collapse;
	width: 100%;
	color: #333333;
}
.datalistMain
{
	width: 98%;
}

/* header column rules */
.dlist th
{
	background: url(../images/icons/sprite.png) repeat-x 0px 0px;
	border-color: #989898 #cbcbcb #989898 #989898;
	border-style: solid solid solid none;
	border-width: 0px 0px 0px medium;
	color: #000;
	padding: 4px 5px 4px 10px;
	vertical-align: bottom;
	text-align: left;
	text-transform: capitalize;
	font-weight: bold;
}

.dlist th a
{
	color: #333333;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding-right: 10px;
}

/* data cell and data row rules */
.dlist td
{
	color: #333333;
	padding: 4px 10px 4px 10px;
}

.dlistSaparator
{
	color: #000000;
	border-style: none;
	width: 100%;
	height: 2px;
}

.dlistRowSaparator
{
	color: #009999;
	border-style: solid;
	width: 98%;
	height: 1px;
}
