﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="goals.aspx.cs" MasterPageFile="~/ui/inside.Master" Inherits="scorecard.ui.goals" %>

<%@ Register src="controls/orgstructure.ascx" tagname="orgstructure" tagprefix="uc1" %>
<%@ Register src="controls/goal.ascx" tagname="goal" tagprefix="uc2" %>


<asp:Content ID="Content1" runat="server" contentplaceholderid="MainContent">
    <uc2:goal ID="goal1" runat="server" />
</asp:Content>
<asp:Content ID="Content2" runat="server" contentplaceholderid="OrgStructure">
    <uc1:orgstructure ID="orgstructure1" runat="server" />
</asp:Content>


