﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/inside.Master" AutoEventWireup="true"
    CodeBehind="scorereport.aspx.cs" Inherits="scorecard.scorereport" %>

<%@ Register Src="controls/orgstructure.ascx" TagName="orgstructure" TagPrefix="uc1" %>
<%@ Register Src="controls/scoreFormAvg.ascx" TagName="scoreFormAvg" TagPrefix="uc2" %>
<%--<%@ Register Src="controls/scoreForm.ascx" TagName="scoreForm" TagPrefix="uc3" %>--%>
<asp:Content ID="Content1" ContentPlaceHolderID="header" runat="server">
  <link href="css/ajaxcalendar.css" rel="stylesheet" type="text/css" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc2:scoreFormAvg ID="scoreFormAvg1" runat="server" />
    <%--<uc3:scoreForm ID="scoreForm1" runat="server" />--%>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="OrgStructure" runat="server">
    <uc1:orgstructure ID="orgstructure1" runat="server" />
</asp:Content>
