/************************************************************* body display *************************************************************/
* {margin:0;padding:0}
/* mac hide \*/
html, body {
height: 100%;
font-family: Arial, Helvetica, sans-serif;
}
body { 
background: #FFFFFF; 
margin: 0;
width: 100%;
}
a img{
border:0px;
}
a{
text-decoration:none;}
/************************************************************* clearfix *************************************************************/
	.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	.group { display: inline-block; clear: both; }
	/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */
	
	
/************************************************************* text *************************************************************/
h1{
	float:left;
	width:100%;
	margin: 0px auto 20px auto;
	text-align:center;
	font-weight:normal;
	font-size:36px;
	line-height: 36px;
	color: #003366;
	
}

h2{
clear:both;
	margin:0;
	text-align: left;
	font-weight:bold;
	font-size:16px;
	line-height: 18px;
	color: #000000;
}
h2 a{
	color: #0088CC;
}

h2 a:hover{
color:#0099FF;
}
h3{
	float:left;
	width: 100%;
	margin:0px;
	text-align: left;
	font-weight:normal;
	font-size:14px;
	line-height: 16px;
	color: #000000;
}
h4{
	float:left;
	width: 100%;
	margin:0px;
	text-align: left;
	font-weight:normal;
	font-size:12px;
	line-height: 12px;
	color: #666666;
}
h5 {
float:left;
	margin:4px 0;
	text-align: left;
	font-weight:bold;
	font-size:11px;
	line-height: 12px;
	color: #000000;
}
h5 a{
	color: #0088CC;
}
h5 a:hover{
	color: #0099FF;
}
h5 span{
	color: #666666;
}
p{
float:left;
width: 100%;
	margin:4px 0;
	text-align: left;
	font-weight:normal;
	font-size:14px;
	line-height: 16px;
	color: #666666;
}
/*******************************************************Content********************************************************/
#container {
float:left;
min-width: 80%;
margin: 0 10%;
}
#containerbtn {
float:left;
width: 80%;
margin: 0 10%;
}
#disp100{
	width: 100%;
	height: auto;
	float:left;
	display:block;
}
#disp100 img{
	width: 100%;
}
#formz {
text-align:center;
	font-size: 14px;
	font-weight: bold;
	padding:0 1%;
	margin: 20px auto;
	width: 100%;
	float:left;
	color:#999999;
}
ul{
	list-style-type: none;
	
}

#arrow{
	float:left;
	width: 60%;
	margin: 0 15%; 
	text-align:center;
}
#arrow img{
	width: 100%;
}
#arrowleft{
	float:left;
	margin-top: 80px;
	width: 5%;
	}
#arrowleft img{
	float:left;
	width: 100%;
	}
	
	#arrowright{
	float:left;
	margin-top: 80px;
	width: 5%;
	}
#arrowright img{
	float:left;
	width: 100%;
	}

/****** button ********/
.sendbtn {width: 100%;
float:left;
padding:8px 16px;
text-align:center;
margin: 5px auto;
font-size:12px;
font-weight:bold;
text-transform:none;
cursor:pointer;
background:#0088CC;
color:#FFFFFF;
border:1px solid #FFFFFF;
  	     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.sendbtn:hover {
background:#00CCFF;
color:#FFFFFF;
border:1px solid #FFFFFF;
}
/****** check box ********/
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#83909A;
    font-family:Arial, sans-serif;
    font-size:12px;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px  0 0 4px;
    vertical-align:middle;
    background:url(img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(img/check_radio_sheet.png) -19px top no-repeat;
}
/* *********************************************more btn ********************************************************/
.btnbig{
font-size: 20px;
	line-height: 20px;	
}
.btnsm{
font-size: 11px;
	line-height: 11px;	
}
#mainpix{
	float:left;
	margin: -10000px 1% 0px 1%;
	width: 30%;
	padding: 0px 0.333333333%;
	text-align:center;
}
#mainpix img{
width: 100%;
}
#mainbtn a{
	float:left;
	margin: 0px 0% 20px 0%;
	width: 98%;
	padding: 6px 1%;
	text-align:center;
	font-weight: normal;
	text-transform: normal;
	text-decoration:none;
color:#FFFFFF;
	background-color:#0083DD;
		     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius: 5px;
			-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);
	text-shadow: 1px 1px 1px #0075A1;
	background-repeat: repeat-x;
	background-position: left bottom;
	border: 1px solid #0088CC;
}
#mainbtn a:hover{
	color:#0088CC;
	background-color:#FFFFFF;
		     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius: 5px;
			-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);
	text-shadow: 1px 1px 1px #FFFFFF;
	background-repeat: repeat-x;
	background-position: left bottom;
	border: 1px solid #FFFFFF;
}

/* @media screen and (min-width: 500px) */
@media screen and (min-width: 500px) {

#mainpix{
	margin: 20px 1% 0px 1%;
}
#mainbtn a{
	margin: 0px 1% 20px 1%;
	width: 30%;
	padding: 6px 0.333333333%;
}

}

/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 1200px) {
#containerbtn {
float:left;
width: 40%;
margin: 0 30%;
}
}