﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="actualvstargetareagoal.aspx.cs" Inherits="scorecard.ui.actualvstargetareagoal" %>
<%@ Register src="reports/tgraphAreaGoal.ascx" tagname="tgraphAreaGoal" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:tgraphAreaGoal ID="tgraphAreaGoal1" runat="server" />
</asp:Content>
