﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="actualvstargetusers.aspx.cs" Inherits="scorecard.ui.actualvstargetusers" %>
<%@ Register src="reports/graphAgregateUsers.ascx" tagname="graphAgregateUsers" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:graphAgregateUsers ID="graphAgregateUsers1" runat="server" />
</asp:Content>
