﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="capture.aspx.cs" Inherits="scorecard.ui.capture"  MasterPageFile="~/ui/inside.Master" %>

<%@ Register src="controls/capture.ascx" tagname="capture" tagprefix="uc1" %>


<%@ Register src="controls/orgstructure.ascx" tagname="orgstructure" tagprefix="uc2" %>


<asp:Content ID="Content1" runat="server" contentplaceholderid="MainContent">
    <uc1:capture ID="capture1" runat="server" />
</asp:Content>


<asp:Content ID="Content2" runat="server" contentplaceholderid="OrgStructure">
    <uc2:orgstructure ID="orgstructure1" runat="server" />
</asp:Content>



