﻿a
{
    text-decoration: none !important;
}

.loginLinks
{
    text-decoration: none !important;
    color: blue !important;
    font-weight: lighter !important;
}

.clr
{
    clear: both;
}

input.sf, input[type="text"]
{
    border-color: #227FAB !important;
    font-size: 13px;
}

Input[type="textarea"]
{
    border-color: #227FAB !important;
    font-size: 13px;
}

input.mf
{
    border-color: #227FAB !important;
    font-size: 13px;
}

input.lf
{
    border-color: #227FAB !important;
    font-size: 13px;
}

fieldset
{
    border-color: #227FAB !important;
    font-size: 13px;
}

input.button, a.button
{
}

.errorMsg
{
    color: Red;
}

.floatLeft
{
    float: left;
    padding-left: 2px;
}

.form
{
    padding-top: 10px;
    padding-left: 4px;
}

p
{
    line-height: 10px !important;
    margin-bottom: 4px !important;
}

legend
{
    font-weight: bold !important;
    padding-bottom: 6px !important;
}

div#pager
{
    text-align: center;
}

.dd_chk_select
{
    font-style: normal !important;
    width: 300px !important;
    border-color: #227FAB !important;
    color: #227FAB !important;
    font-size: 13px !important;
    height: 20px !important;
}

#checks
{
    width: 300px !important;
    color: #227FAB !important;
    font-size: 13px !important;
}

#caption
{
    width: 300px !important;
    color: #227FAB !important;
    font-size: 13px !important;
}

.divFloatLeft
{
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
}

.insideOrgStruct
{
    font-size: 13px;
    font-family: Tahoma,Verdana,Arial,sans-serif;
}


