﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="actualvstargetperspective.aspx.cs" Inherits="scorecard.ui.actualvstargetperspective" %>
<%@ Register src="reports/tgraphPerspective.ascx" tagname="tgraphPerspective" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:tgraphPerspective ID="tgraphPerspective1" runat="server" />
</asp:Content>
