﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/inside.Master" AutoEventWireup="true" CodeBehind="mycompany.aspx.cs" Inherits="scorecard.ui.mycompany" %>
<%@ Register src="controls/regcompany.ascx" tagname="regcompany" tagprefix="uc1" %>
<%@ Register src="controls/orgstructure.ascx" tagname="orgstructure" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:regcompany ID="regcompany1" runat="server" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="OrgStructure" runat="server">
    <uc2:orgstructure ID="orgstructure1" runat="server" />
</asp:Content>
