﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="overthreshold.aspx.cs" Inherits="scorecard.ui.overthreshold" %>
<%@ Register src="controls/hr/leaveThresholdReport.ascx" tagname="leaveThresholdReport" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:leaveThresholdReport ID="leaveThresholdReport1" runat="server" />
</asp:Content>
