﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="previewexception.aspx.cs" Inherits="scorecard.ui.previewexception" %>
<%@ Register src="reports/scoreReportViewException.ascx" tagname="scoreReportViewException" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:scoreReportViewException ID="scoreReportViewException1" runat="server" />
</asp:Content>
