﻿a
{
    text-decoration: none !important;
}

.loginLinks
{
    text-decoration: none !important;
    color: blue !important;
    font-weight: lighter !important;
}

.clr
{
    clear: both;
}

input.sf, input[type="text"]
{
    border-color: #227FAB !important;
    font-size: 13px;
}

Input[type="textarea"]
{
    border-color: #227FAB !important;
    font-size: 13px;
}

input.mf
{
    border-color: #227FAB !important;
    font-size: 13px;
}

input.lf
{
    border-color: #227FAB !important;
    font-size: 13px;
}

fieldset
{
    border-color: #227FAB !important;
    font-size: 13px;
}

.errorMsg
{
    color: Red;
}

.floatLeft
{
    float: left;
    padding-left: 2px;
}

.form
{
    padding-top: 10px;
    padding-left: 4px;
}

p
{
    line-height: 10px !important;
    margin-bottom: 4px !important;
}

legend
{
    font-weight: bold !important;
    padding-bottom: 6px !important;
}

div#pager
{
    text-align: center;
}

.dd_chk_select
{
    font-style: normal !important;
    width: 300px !important;
    border-color: #227FAB !important;
    color: #227FAB !important;
    font-size: 13px !important;
    height: 20px !important;
}

#checks
{
    width: 300px !important;
    color: #227FAB !important;
    font-size: 13px !important;
}

#caption
{
    width: 300px !important;
    color: #227FAB !important;
    font-size: 13px !important;
}

.divFloatLeft
{
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
}

.insideOrgStruct
{
    font-size: 13px;
    font-family: Tahoma,Verdana,Arial,sans-serif;
}

.RadUpload_Web20 .ruButton
{
    background: url('../assets/rep1.png') 0 0 repeat-x !important;
    border: 1px solid #000 !important;
    color: #ccc !important;
    padding-bottom: 6px !important;
    padding-left: 10px !important;
    font-size: small !important;
}

.ruInputs
{
    width: 650px !important;
}

.ruFileWrap, .ruUploadProgress, .ruUploadSuccess
{
    width: 350px !important;
}

/** Customize the demo canvas */
.qsf-demo-canvas
{
}


.qsf-demo-canvas .file-list
{
    margin: 20px 0 0 0;
    display: none;
}
.qsf-demo-canvas .file-list ul
{
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
}
.qsf-demo-canvas .file-list li
{
    margin: 10px 0 0 0;
}

/** Customize the demo canvas */
.qsf-demo-canvas
{
}

.qsf-demo-canvas label
{
    padding-right: 10px;
    width: 200px;
    display: inline-block;
    text-align: right;
}

/** Columns */
.rcbHeader ul, .rcbFooter ul, .rcbItem ul, .rcbHovered ul, .rcbDisabled ul
{
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    list-style-type: none;
}

.col1, .col2, .col3
{
    margin: 0;
    padding: 0 5px 0 0;
    width: 110px;
    line-height: 14px;
    float: left;
}

.multipleRowsColumns .rcbItem, .multipleRowsColumns .rcbHovered
{
    float: left;
    margin: 0 1px;
    min-height: 13px;
    overflow: hidden;
    padding: 2px 19px 2px 6px;
    width: 200px;
}

/** Multiple rows and columns */