﻿.showtd
{
    display: block !important;
}

.hidetd
{
    display: none !important;
}

.dashtable
{
    font-family: Tahoma, Verdana, Arial, sans-serif !important;
    font-size: small !important;
    font-weight: bold !important;
    color: Black !important;
}

.dashboardred
{
    color: Red;
}

.matrixtdbackcolor
{
    background-color: Silver;
    width: 250px;
}

.matrix2tdbackcolor
{
    background-color: Olive;
}

.matrixcaption
{
    font-family: Tahoma, Verdana, Arial, sans-serif !important;
    font-size: small !important;
    font-weight: bold !important;
    color: Navy !important;
    text-align: center !important;
}

.matrixcaptioninfo
{
    font-family: Tahoma, Verdana, Arial, sans-serif !important;
    font-size: small !important;
    font-weight: bold !important;
    color: Black !important;
    text-align: center !important;
}

.matrixaxislabels
{
    font-family: Tahoma, Verdana, Arial, sans-serif !important;
    font-size: small !important;
    font-weight: normal !important;
    color: Black !important;
}

.box_rotate
{
    -moz-transform: rotate(270.0deg); /* FF3.5+ */
    -o-transform: rotate(270.0deg); /* Opera 10.5 */
    -webkit-transform: rotate(270.0deg); /* Saf3.1+, Chrome */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
    font-family: Tahoma, Verdana, Arial, sans-serif !important;
    font-size: small !important;
    font-weight: normal !important;
    color: Black !important;
}
