﻿body
{
    margin: 0px;
    padding: 0px;
    font-family: Calibri, helvetica, arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #323232;
}
a:link, a:visited
{
    color: #1e868b;
}
a:hover
{
    color: black;
}
h1.txtheader
{
    color: #373737;
    font-size: 26px;
    letter-spacing: -2px;
    font-family: Calibri,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
    line-height: 30px;
}
h1.txtheader strong
{
    color: #1e868b;
}
div.inner
{
    padding: 20px;
    padding-top: 0px;
}
div.inner-content
{
    border-top: solid 2px #c0c0c0;
    padding-top: 20px;
}
div.inner-content-padd
{
    margin-left: 20px;
    margin-right: 20px;
}
div.footer
{
    border-top: solid 2px #c0c0c0;
    padding-top: 20px;
}
div.footer-inner
{
    border: solid 1px #ecc897;
    border-radius: 6px;
    box-shadow: 0px 3px 3px rgba(0,0,0,.3);
    background: #f8e4c9;
}
div.footer-inner-padd
{
    border: solid 10px #f8e4c9;
}
