﻿/*Modal Popup*/
.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup
{
    background-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 800px;
    height: 600px;
    overflow: scroll;
}

.modalDragHandle
{
    cursor: move;
    background-color: #DDDDDD;
    border: solid 1px Gray;
    color: Black;
    width: 99%;
    padding-top: 8px;
    padding-left: 4px;
}

.modalHeightSpacer
{
    height: 30px;
}

.floatLeft
{
    float: left;
    height: 20px;
}

.clr
{
    clear: both;
}
