﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="actualvstargetobjective.aspx.cs" Inherits="scorecard.ui.actualvstargetobject" %>
<%@ Register src="reports/tgraphObjective.ascx" tagname="tgraphObjective" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:tgraphObjective ID="tgraphObjective1" runat="server" />
</asp:Content>
