﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="avgpreview.aspx.cs" Inherits="scorecard.ui.WebForm1" %>
<%@ Register src="reports/scoreReportViewAvg.ascx" tagname="scoreReportViewAvg" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:scoreReportViewAvg ID="scoreReportViewAvg1" runat="server" />
</asp:Content>
