﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="graphComparison.aspx.cs" Inherits="scorecard.ui.graphComparison" %>
<%@ Register src="reports/tgraphAgregate.ascx" tagname="tgraphAgregate" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:tgraphAgregate ID="tgraphAgregate1" runat="server" />
</asp:Content>
