﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="leaveBalances.aspx.cs" Inherits="scorecard.ui.leaveBalances" %>
<%@ Register src="controls/hr/leaveBalanceReport.ascx" tagname="leaveBalanceReport" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:leaveBalanceReport ID="leaveBalanceReport1" runat="server" />
</asp:Content>
