﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="preview.aspx.cs" Inherits="scorecard.ui.preview" %>
<%@ Register src="reports/scoreReportViewWithHiraki.ascx" tagname="scoreReportViewWithHiraki" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:scoreReportViewWithHiraki ID="scoreReportViewWithHiraki1" runat="server" />
</asp:Content>
