﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/inside.Master" AutoEventWireup="true" CodeBehind="usermgt.aspx.cs" Inherits="scorecard.ui.usermgt" %>
<%@ Register src="controls/companyuseradmin.ascx" tagname="companyuseradmin" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="header" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:companyuseradmin ID="companyuseradmin1" runat="server" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="OrgStructure" runat="server">
</asp:Content>
