﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/register.master" AutoEventWireup="true" CodeBehind="activateaccount.aspx.cs" Inherits="scorecard.ui.activateaccount" %>
<%@ Register src="controls/verifyactivationcode.ascx" tagname="verifyactivationcode" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:verifyactivationcode ID="verifyactivationcode1" runat="server" />
</asp:Content>
