﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/inside.Master" AutoEventWireup="true"
    CodeBehind="approvalflow.aspx.cs" Inherits="scorecard.ui.approvalflow" %>

<%@ Register Src="controls/orgstructure.ascx" TagName="orgstructure" TagPrefix="uc1" %>
<%@ Register Src="controls/approvalwithhirachy.ascx" TagName="approvalwithhirachy"
    TagPrefix="uc2" %>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="OrgStructure">
    <uc1:orgstructure ID="orgstructure1" runat="server" />
</asp:Content>
<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="MainContent">
    <uc2:approvalwithhirachy ID="approvalwithhirachy1" runat="server" />
   <%-- <script type="text/javascript">
        $(function () {
            $(".input1").keyup(function (e) {
                if (e.which == 13) { // Enter key
                    return false;
                }
            });
        });
    </script>--%>
</asp:Content>
