﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="assessment.aspx.cs" Inherits="scorecard.ui.assessment" %>
<%@ Register src="reports/graphAssessment.ascx" tagname="graphAssessment" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:graphAssessment ID="graphAssessment1" runat="server" />
</asp:Content>
