﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/register.master" AutoEventWireup="true"
    CodeBehind="changetemppass.aspx.cs" Inherits="scorecard.ui.changetemppass" %>

<%@ Register Src="controls/changePassword.ascx" TagName="changePassword" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:changePassword ID="changePassword1" runat="server" IsAccountActivation="true" />
</asp:Content>
