﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="detailed360report.aspx.cs" Inherits="scorecard.ui.detailed360report" %>
<%@ Register src="reports/detailed360Evaluation.ascx" tagname="detailed360Evaluation" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:detailed360Evaluation ID="detailed360Evaluation1" runat="server" />
</asp:Content>
