﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/popup.Master" AutoEventWireup="true"
    CodeBehind="empincentivesmgt.aspx.cs" Inherits="scorecard.ui.empincentivesmgt" %>

<%@ Register Src="controls/hrincentive/employeeincentivemgt.ascx" TagName="employeeincentivemgt"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
 
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:employeeincentivemgt ID="employeeincentivemgt1" runat="server" />
</asp:Content>
