﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true"
    CodeBehind="incentivereportpreview.aspx.cs" Inherits="scorecard.ui.incentivereportpreview" %>

<%@ Register Src="reports/incentiveReport.ascx" TagName="incentiveReport" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:incentiveReport ID="incentiveReport2" runat="server" />
</asp:Content>
