﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="negativeBalances.aspx.cs" Inherits="scorecard.ui.negativeBalances" %>
<%@ Register src="controls/hr/leaveNegativeBalanceReport.ascx" tagname="leaveNegativeBalanceReport" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:leaveNegativeBalanceReport ID="leaveNegativeBalanceReport1" 
        runat="server" />
</asp:Content>
