﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true"
    CodeBehind="ppreview360.aspx.cs" Inherits="scorecard.ui.ppreview360" %>

<%@ Register src="reports/graph360PeerEvaluation.ascx" tagname="graph360PeerEvaluation" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:graph360PeerEvaluation ID="graph360PeerEvaluation1" runat="server" />
</asp:Content>
