﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true"
    CodeBehind="preview360.aspx.cs" Inherits="scorecard.ui.preview360" %>


<%@ Register src="reports/graph360SelfEvaluation.ascx" tagname="graph360SelfEvaluation" tagprefix="uc1" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:graph360SelfEvaluation ID="graph360SelfEvaluation1" runat="server" />
</asp:Content>
