﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/register.master" AutoEventWireup="true"
    CodeBehind="registrationform.aspx.cs" Inherits="scorecard.registrationform" %>
<%@ Register Src="~/ui/controls/registration.ascx" TagName="registration" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:registration ID="registration2" runat="server" />
</asp:Content>
