﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="salaryvsratingpreview.aspx.cs" Inherits="scorecard.ui.salaryvsratingpreview" %>
<%@ Register src="reports/salaryVsRatingreport.ascx" tagname="salaryVsRatingreport" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:salaryVsRatingreport ID="salaryVsRatingreport1" runat="server" />
</asp:Content>
