﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="staffOnLeave.aspx.cs" Inherits="scorecard.ui.staffOnLeave" %>
<%@ Register src="controls/hr/leaveEmpOnLeaveReport.ascx" tagname="leaveEmpOnLeaveReport" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:leaveEmpOnLeaveReport ID="leaveEmpOnLeaveReport1" runat="server" />
</asp:Content>
