﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="trainingpreview.aspx.cs" Inherits="scorecard.ui.trainingpreview" %>
<%@ Register src="reports/trainingemployeereport.ascx" tagname="trainingemployeereport" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:trainingemployeereport ID="trainingemployeereport1" runat="server" />
</asp:Content>
