﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/register.master" AutoEventWireup="true" CodeBehind="updatecompanyinfo.aspx.cs" Inherits="scorecard.ui.updatecompanyinfo" %>
<%@ Register src="controls/regcompany.ascx" tagname="regcompany" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:regcompany ID="regcompany1" runat="server" IsAccountActivation="true" />
</asp:Content>
