﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="ppreview.aspx.cs" Inherits="scorecard.ui.ppreview" %>
<%@ Register src="reports/perfomanceReport.ascx" tagname="perfomanceReport" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:perfomanceReport ID="perfomanceReport1" runat="server" />
</asp:Content>
