﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="footer.ascx.cs" Inherits="scorecard.ui.controls.footer" %>
Copyright &copy; 2012 iStratgo powered by IMD Innovations ® | Developed in South Africa by IMD Innovations. All rights Reserved.