﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="capture.aspx.cs" Inherits="scorecard.ui.capture"
    MasterPageFile="~/ui/inside.Master" %>

<%@ Register Src="controls/orgstructure.ascx" TagName="orgstructure" TagPrefix="uc2" %>
<%@ Register Src="controls/capturewithhirachy.ascx" TagName="capturewithhirachy"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="MainContent">
    <uc1:capturewithhirachy ID="capturewithhirachy1" runat="server" />
</asp:Content>
<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="OrgStructure">
    <uc2:orgstructure ID="orgstructure1" runat="server" />
</asp:Content>
