﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/reportPreview.Master" AutoEventWireup="true" CodeBehind="graphpreview.aspx.cs" Inherits="scorecard.ui.graphpreview" %>
<%@ Register src="reports/graphReporting.ascx" tagname="graphReporting" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:graphReporting ID="graphReporting1" runat="server" />
</asp:Content>
