<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="landingpage.Master.cs"
    Inherits="scorecard.ui.LandingPage" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<%@ Register Src="~/ui/controls/jobtitles.ascx" TagName="jobtitles" TagPrefix="uc1" %>
<%@ Register Src="controls/header.ascx" TagName="header" TagPrefix="uc4" %>
<%@ Register Src="controls/menu.ascx" TagName="menu" TagPrefix="uc1" %>
<%@ Register Src="controls/footer.ascx" TagName="footer" TagPrefix="uc2" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1" runat="server">
    <!-- Page title -->
    <title>iStratgo </title>
    <!-- End of Page title -->
    <!-- Libraries -->
     <link href="css/avi.css" rel="stylesheet" type="text/css" />
    <link href="highslide/highslide.css" rel="stylesheet" type="text/css" />
    <link type="text/css" href="css/layout.css" rel="stylesheet" />
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34180756-1']);
        _gaq.push(['_setDomainName', 'imdconsulting.co.za']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <link href="css/welcomesite.css" rel="stylesheet" type="text/css" />
    <!-- End of Libraries -->
    <asp:ContentPlaceHolder ID="header" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <!-- Container -->
    <form id="form1" runat="server">
    <asp:ToolkitScriptManager ID="ToolkitScriptManagerMain" runat="server" CombineScripts="True"
        EnablePartialRendering="true" EnablePageMethods="true">
        <Scripts>
            <asp:ScriptReference Path="js/jquery-1.3.2.min.js" ScriptMode="Release" NotifyScriptLoaded="false" />
            <asp:ScriptReference Path="js/easyTooltip.js" ScriptMode="Release" NotifyScriptLoaded="false" />
            <asp:ScriptReference Path="js/jquery-ui-1.7.2.custom.min.js" ScriptMode="Release"
                NotifyScriptLoaded="false" />
            <asp:ScriptReference Path="js/jquery.wysiwyg.js" ScriptMode="Release" NotifyScriptLoaded="false" />
            <asp:ScriptReference Path="js/hoverIntent.js" ScriptMode="Release" NotifyScriptLoaded="false" />
            <asp:ScriptReference Path="js/superfish.js" ScriptMode="Release" NotifyScriptLoaded="false" />
            <asp:ScriptReference Path="js/custom.js" ScriptMode="Release" NotifyScriptLoaded="false" />
            <asp:ScriptReference Path="~/ui/highslide/highslide-with-html.min.js" NotifyScriptLoaded="false" />
        </Scripts>
    </asp:ToolkitScriptManager>
    <div id="container">
        <!-- Header -->
        <uc4:header ID="header1" runat="server" />
        <!-- Background wrapper -->
        <div id="bgwrap">
            <!-- Main Content -->
            <div id="content">
                <div id="main">
                    <uc1:menu ID="menu1" runat="server" />
                    <div class="pad20">
                        <asp:ContentPlaceHolder ID="MainContent" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->
            <!-- Sidebar -->
            <asp:ContentPlaceHolder ID="OrgStructure" runat="server">
            </asp:ContentPlaceHolder>
            <!-- End of Sidebar -->
        </div>
        <!-- End of bgwrap -->
    </div>
    <!-- End of Container -->
    <!-- Footer -->
    <div id="footer">
        <p class="mid">
            <!-- Change this to your own once purchased -->
            <uc2:footer ID="footer1" runat="server" />
            <!-- -->
        </p>
    </div>
    </form>
    <!-- End of Footer -->
</body>
</html>
