﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ui/popup.Master" AutoEventWireup="true" CodeBehind="leavedoc.aspx.cs" Inherits="scorecard.ui.leavedoc" %>
<%@ Register src="controls/hr/leaveDocs.ascx" tagname="leaveDocs" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:leaveDocs ID="leaveDocs1" runat="server" />
</asp:Content>
