﻿table.fullwidth th
{
	padding-left: 12px !important;
	padding-right: 12px !important;
}

.loginLinks
{
	text-decoration: none !important;
	color: blue !important;
	font-weight: normal !important;
	font-size: small !important;
}

body, html, form
{
	background-color: White !important;
}
