#CheckBoxDiv
{
    clear: both !important;
}

#myCheckBox
{
    width: 500px !important;
}

#VideoDiv
{
    clear: both !important;
}

#GuideDiv
{
    clear: both !important;
}

input
{
    display: block !important;
    float: left !important;
    height: 15px !important;
}

label
{
    display: block !important;
    float: left !important;
    clear: left !important;
    width: 148px !important;
    font-family: Trebuchet MS,Verdana !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #999999 !important;
    white-space: nowrap !important;
}
