﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="evaluationType.ascx.cs"
    Inherits="scorecard.ui.reports.evaluationType" %>
<tr>
    <td>
        <h2>
            Evaluation Type</h2>
    </td>
    <td colspan="2">
        <h2>
            <span style="color: Black">
                <asp:Literal ID="lblEvalType" runat="server"></asp:Literal>
            </span>
        </h2>
    </td>
</tr>
